{% extends 'base.html'%}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="">
{% endblock %}   
{% block content %} 
<div class="container">
<div class="row">
    <div class="col-md-4">
      <h2>Business news</h2>  
      {% for business_news in busines %}
    <div class="card border-primary" style="width: 18rem">

       <div class="card-title"> <b>Title:</b><i>{{business_nes.title}}</i></div>
       <img src="{{business_news.urlToImage}}" class="card-img-top img-fluid" alt="business" height="200" width="200">
       <div class="card-body">
       <p class="card-text">{{ business_news.description }}</p>
       <a href="{{business_news.url}}" class="btn btn-primary">Read full article</a>
       </div>
       <h5 class="card-footer"><b>created at:</b>{{ business_news.publishedAt}}</h5> 
    </div>
    <hr>
    <br>
    {% endfor %}
    </div>
    <div class="col-md-4"></div>
       <h2>Science news</h2>
    <div class="card science" style="width: 18rem">
       {% for science_news in science %}
        <div class="card-title"><b>Title: </b><i>{{science_news.title}}</i></div>
        <img src="{{science_news.urlToImage}}" class="card-img-top img-fluid" alt="science" height="200" width="200">
        <div class="card-body">

            <p class="card-text">{{ science_news.description }}</p>
             <a href="{{science_news.url}}" class="btn btn-primary">Read full articl</a>

        </div>  
        <h5 class="card-footer"><b>created at:</b>{{ science_news.publishedAt}}</h5> 
        <hr>
        <br>
        {% endfor %}
    </div>
    </div>

    <div class="col-md-4">
       <h2>entertainment news</h2>
       <div class="card tesla" style="width: 18rem">
          {% for entertainment_news in entertainment %}
        <div class="card-title"><b>Title:</b><i>{{entertainment_news.title}}</i></div>
        <img src="{{entertainment_news.urlToImage}}" class="card-img-top img-fluid" alt="entertainment" height="200" width="200"> 
        <div class="card-body">
            <p class="card-text">{{entertainment_news.description}}</p>
        </div>
        <a href="{{entertainment_news.url}}" class="btn btn-primary">Read full article</a> 
        </div>
         <h5 class="card-footer"><b>creted at:</b>{{entertainment_news.publishedAt}}</h5>
         <hr>
         <br>
    </div>
</div>