<div class="navbar navbar-light" role="navigation" style="background-color: black;">
    <div class="container-fluid">
        <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/"> News </a>
        </div>
        <div class="navbar-collpase collapse">
             <ul class="nav navabr-nav">
                 <li class="active"><a href="/" style="background-color: white;">Home</a></li>
        </div>
    </div>
</div>